body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
}
div{
    border:1px solid lime;
    width:170px;
    height:60px;
}
h2{
    text-align:center;
    color:#f1faee;
    font-family: 'Poiret One', cursive;
}
div:hover{
    border:1px solid #e85d04;
      transform:scale(1.04);
    box-shadow: 0px 2.2px 3px #e85d04;
    
}

