*{
    padding:0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
   
}
body{
    background-color:#330033;

}
main{
    margin:10px auto;
    padding-left:40px;
    padding-right:40px;
    
}
section{
    background-color:#e5b3fe;
    box-shadow: 0px 0px 12px #dec9e9;
    height:620px;
    border:5px groove #10002b;
    border-radius: 20px;
    padding-top:80px;
    transition: all 0.5s ease;
}

section:hover{
    border-color:#f9f91f;
    box-shadow: 0px 0px 12px #f9f91f;
    transition: all 0.5s ease;
}
header{
    padding-bottom:40px;
    font-size:4rem;
    font-family:'Courier New', Courier, monospace;
    color:#330033;
}

#pencil{
    padding-top:20px;
    margin-left:10px;
    font-size:4rem;
    
}


header,form{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
form input,form button{
    outline: none; 
   padding:0.5rem;
   border:2px;
   background:cyan;
   border-radius:10px;
   font-size:1rem;
   margin:5px;
}
form input,form button{
    border:4px solid #330033 ;
    border-radius:10px;
    padding: 4px; 
    margin: 4px;
 
}

input::placeholder{
  padding:5px;
}


form input{
    width:700px;
    height:1.5rem;
}
form input,form button{
    color: #330033;
    background:#fae1dd;
    cursor: pointer;
    transition: all 0.5s ease;
}

form input:hover{
    background :#330033 ;
    color:#dec9e9;
    
}
form button:hover{
    background :#330033 ;
    color:#dec9e9;
}
.todo-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.todo-list{
    list-style:none;
}

.todo{
    margin:10px;
    width:700px;
    border:3px solid #330033;
    background: #e5b3fe;
    color:#330033;
    font-size: 1.8rem;
    display: flex;
   flex-wrap:wrap;
   justify-content:space-between;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}
@media screen and (max-width:815px){
    .todo{
   width:500px;
    }
}
    
    @media screen and (max-width:600px){
        .todo{
          width:200px;
        }
    }

    

.todo li{
    flex:1;
    padding: 9px;
    margin:1px;  
}
i{
    font-size:15px;
}
#b1{
    color:lime;
    font-size:1.4rem;
}
#b2{
    color:#da2d27;
    font-size:1.4rem;
}
#b3{
    color:#f9f91f;
    font-size:1.4rem;
}
#b4{
    color:#d8e2dc;
    font-size:1.4rem;
}
#b5{
    color:#95d5b2;
    font-size:1.4rem;
}
.trash-btn, .complete-btn,.edit-btn{
    background: #471947;
    color: #dec9e9;
    border: none;
    padding: 1rem;
    cursor: pointer;

    margin: 5px;
    border-radius: 15px;
}
.trash-btn:hover{
    background:#10002b;
    transition: all 0.5s ease;
}
.complete-btn:hover{
    background: #10002b;
    transition: all 0.5s ease;
}

button:hover{
    transform:scale(1.09);
    transition: 0.4s ease;
}


.fa-trash,
.fa-check{
    pointer-events: none;
}

.e-btn{
    outline:none;
    transform:scale(1.01);
    transition all 0.5s ease;
    color:red;
    text-decoration:none;
}

.d-btn{
    opacity:0.5;
   text-decoration: line-through;
}
.m-btn{
    text-align:top;
}










